<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="fixed-bottom" style="height: 7vh; background-color: gray">
    <div class="container">
        <div class="row align-items-center"  style="height: 7vh; background-color: gray">
            <div class="col-10"></div>
            <div class="col-2 align-middle" id="footer-text">
            by Fabian Fischer
            </div>
        </div>
    </div>
</footer>
