<footer class="text-center fixed-bottom" style="height: 7vh; background-color: gray">
    <div class="container">
        <div class="row">
            <div class="col align-self-center text-muted ">
            &copy; Fabian Fischer
            </div>
        </div>
    </div>
</footer>
