<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="fixed-bottom" style="height: 7vh; background-color: gray">
    <div class="container-float">
        <div class="row align-items-center"  style="height: 7vh; background-color: gray">
            <div class="col-9"></div>
            <div class="col-3 align-middle" id="footer-text">
                by Fabian Fischer
            </div>
        </div>
    </div>
</footer>
