<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="container">
<div class="text">
<h2>Hello IFC.js-Community,</h2>
    <p></p>
    <p>firstly many thanks to the team. I’ve really enjoyed your online crash course.</p>

    <p>I am a civil engineering student based in Germany and first came across the library half a year ago during my research for the bachelor thesis.
    Due to your course, I’ve learnt the basics of programming and website development which have encouraged me to begin to dig deeper.
        So, I’ve started another online course about the backend development by Colt Steele.</p>

    <p>This app is my first step to apply what I’ve learned from both courses. It has given me many headaches
        but also tons of experience.</p>

    <p>Thank you again and I am looking forward to the next online course!</p>

    <p style="margin-top:  5%"> Please read the instructions provided on
    <a href="https://github.com/FFStar36/IfcCrashCourse" target="_blank">my Github-Page</a>
    </p>
</div>
</div>