<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://img.freepik.com/fotos-kostenlos/man-macht-messungen-in-einem-gebaeude_1122-1412.jpg?1&w=1380&t=st=1661680236~exp=1661680836~hmac=26f7b62397eaf83c4e6c91943729e11aaa3b1a0bb0457d1a6eacaeaaa85ecd23"
                     alt="" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" style="background-color: gray; border-color: darkgrey">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>