<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row align-items-center justify-content-center" style="margin-top: 1%">
    <h2>Coming Soon ;)</h2>
    </div>
    <div class="row align-items-center justify-content-center" style="height: 70vh">
            <img src="https://img.freepik.com/fotos-kostenlos/im-bau-warnzeichen-symbol-konzept_53876-123765.jpg?w=1380&t=st=1661682145~exp=1661682745~hmac=c18e50a99675dccb8e2b75c68c454a82ae1c4da2d4b0b8e831cbef15b7a28a52"
                 class="img-fluid" style="max-height: 80%" alt="" class="card-img-top" height="auto"/>
    </div>
</div>



