<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/model.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 100vw; height:80vh">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2 p-0">
                                <div class="card-body p-0" id="scrollbar" style="position: fixed; height:75vh; width: 17%">
                                    <h3 class="card-title"><%= ifcModel.title%></h3>
                                    <p></p>
                                    <h5>IFC-Tree</h5>
                                    <div class="loadingInfo" id="loading"><span>&middot</span><span>&middot</span><span>&middot</span></div>
                                    <div class="ifc-tree-menu">
                                        <ul id="myUL m-0">
                                            <li id="tree-root">
                                            </li>
                                        </ul>
                                    </div>
                                    <h5>Element pro Etage</h5>
                                    <div class="loadingInfo" id="loading"><span>&middot</span><span>&middot</span><span>&middot</span></div>
                                    <div class="ifcStorey">
                                        <ul id="myUL m-0">
                                            <div id="ifcStorey" class="m-0">
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="row justify-content-end" id="pdfExportButton"></div>
                                <div class="row justify-content-center" id="tools">
                                    <div class="btn-group btn-group-toggle" id="planViews" data-toggle="buttons"
                                         style="position: absolute; margin-top: 2%"></div>
                                    <button id="clipperButton"></button>
                                    <button id="measureButton"></button>
                                    <div class="loadingModel" id="loading"><span>&middot</span><span>&middot</span><span>&middot</span></div>
                                </div>
                                <div id="viewer-container" style="width: 100vw; height:75vh">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="button-container"></div>

<!--Write down IFC Path for IfcApp.js -->
<div id = "pathIFC" style="display: none">ifcModel/ifc/<%= ifcModel.uploadID %></div>
<script type="module" src="/javascripts/bundle.js"></script>
