<div id="viewer-container"></div>
<div id="button-container"></div>
<button id ="clipperButton">Schneiden</button>
<button id ="measureButton">Messen</button>

<div class="ifc-tree-menu">
    <ul id="myUL">
        <li id="tree-root">
        </li>
    </ul>
</div>

<div class="ifcStorey">
        <ul id="myUL">
            <div id="ifcStorey">
            </div>
        </ul>
</div>

<div id = info>
    <table name="pickedInfo">
        <tr>
            <td>type</td>
            <td>quantity</td>
        </tr>
    </table>
</div>

<script type="module" src="/javascripts/bundle.js"></script>