<div id="viewer-container"></div>
<div id="button-container"></div>
<script type="module" src="/javascripts/bundle.js"></script>
<button id ="clipperButton">Schneiden</button>
<button id ="measureButton">Messen</button>